body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);

  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h1 {
  margin: 0;
  font-size: 1.5rem;
  animation: aparecer 1.2s ease forwards;
  transition: color 0.3s ease;
}

nav {
  display: flex;
  gap: 20px;
  margin-left: auto;
  list-style: none;
  animation: aparecer 1.2s ease forwards;
}
nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}
nav a:hover {
  transform: scale(1.1);
}
.con {
  min-height: calc(100vh - 50px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 1100px;

  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  animation: fadeIn 1.2s ease-in-out;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.right {
  font-size: 170px;
  opacity: 0.95;
}

.container h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.6s ease forwards;
}
.caro {
  width: 90%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
}

.carousel {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.book {
  margin-top: 20px;
  margin: 10px;
  padding: 20px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.6s ease forwards;
}
.book:nth-child(1) {
  animation-delay: 1.8s;
}
.book:nth-child(2) {
  animation-delay: 2s;
}
.book:nth-child(3) {
  animation-delay: 2.2s;
}
.book:nth-child(4) {
  animation-delay: 2.4s;
}
.book:nth-child(5) {
  animation-delay: 2.6s;
}
.book:nth-child(6) {
  animation-delay: 2.8s;
}
.book:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
button {
  background: white;
  color: #2575fc;
  border: none;
  padding: 12px 25px;
  margin: 10px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container button {
  opacity: 0;
  transform: translateY(20px);
  animation: aparecer 0.6s ease forwards;
}
.container h1:nth-child(1) {
  animation-delay: 0.7s;
}
.container button:nth-child(1) {
  animation-delay: 1.2s;
}

button:hover {
  background: #2575fc;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
main {
  flex: 1;
}

.rodape {
  border-radius: 30px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}
footer {
  color: white;
  text-align: center;
  padding: 20px;
  transition: 0.3s ease;
}
footer:hover {
  color: #021433;
  transform: scale(1.05);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes aparecer {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .container {
    width: 85%;
    margin-top: 20px;
    padding: 20px;
  }

  .container h1 {
    font-size: 1.6rem;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  .left {
    width: 50%;
  }
  .right {
    width: 40%;
    font-size: 70px;
  }

  .caro {
    width: 90%;
    padding: 15px;
  }

  .carousel {
    gap: 15px;
  }
  button {
    padding: 10px 20px;
    font-size: 1rem;
  }

  .book {
    width: 120px;
    height: 120px;
    padding: 15px;
  }
}
